{% extends 'bbu/dashboard_base.html' %}
{% load static %}

{% block table_head_css %}
{% endblock table_head_css %}

{% block content_dashboard %}
<link rel="stylesheet" href="{% static 'bootstrap-table/dist/bootstrap-table.min.css' %}">
<link rel="stylesheet" href="//rawgit.com/vitalets/x-editable/master/dist/bootstrap3-editable/css/bootstrap-editable.css">
<link rel="stylesheet" src="https://npmcdn.com/react-bootstrap-table/dist/react-bootstrap-table.min.css">
<div class="row">
{% include 'WorkWorkers/WorkWorkers_Panel1.html' %}
</div>

{% endblock content_dashboard %}

{% block foot_js_dashboard %}
    <script type="text/javascript">
      require(["{% static 'requirejs/config.js' %}"], function (config) {
        require(["{% static 'WorkWorkers/js/WorkWorkers.js' %}"],function(run){
          run()
        })
      });
    </script>
{% endblock foot_js_dashboard %}
