  <form method="post" id="Addworker-form" class="form-horizontal form-label-left">
    {% csrf_token %}
  <!-- name, last_name, first_name, company, level, shirt, status, type, somax_account -->
  <div class="form-group">
    <label for="namelabel">Name</label>
    <input name="name" class="form-control" id="name" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="lastnamelabel">Last Name</label>
    <input name="last_name" class="form-control" id="last_name" placeholder="Enter last name">
  </div>
  <div class="form-group">
    <label for="firstnamelabel">First Name</label>
    <input name="first_name" class="form-control" id="first_name" placeholder="Enter first name">
  </div>
  <div class="form-group">
    <select name ="company" id="company"> Company </select>
  </div>
  <div class="form-group">
    <label for="levellabel">Level</label>
    <input name="level" class="form-control" id="level" placeholder="Enter level">
  </div>
  <div class="form-group">
    <label for="typelabel">Shift</label>
    <input name="shift" class="form-control" id="type" placeholder="Enter shift">
  </div>
  <div class="form-group">
    <label for="statuslabel">Status</label>
    <input name="status" class="form-control" id="status" placeholder="Eneter status">
  </div>
  <div class="form-group">
    <label for="typelabel">Type</label>
    <input name="type" class="form-control" id="type" placeholder="Eneter type">
  </div>
  <button type="submit" class="btn btn-primary" id="Addworker">Submit</button>
  </form>
