  <form method="post" id="WorkWorkersConfig-form" class="form-horizontal form-label-left">
  {% csrf_token %}
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="PeriodStart">Period Start<span class="required">*</span>
      </label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <input type="text" id="PeriodStart" name="PeriodStart" class="form-control col-md-7 col-xs-12 datepicker" placeholder="YYYY-MM-DD" data-inputmask="'mask': '99/99/9999'" style="width:80% " required>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="PeriodEnd">Period End<span class="required">*</span>
      </label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <input type="text" id="PeriodEnd" name="PeriodEnd" class="form-control col-md-7 col-xs-12 datepicker" placeholder="YYYY-MM-DD" data-inputmask="'mask': '99/99/9999'" style="width:80% " required>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <button type="submit" class="btn btn-primary " id="WorkWorkersConfigSubmit">Submit</button>
      </div>
    </div>
  </form>