{% extends 'bbu/modal.html' %}

{% block modal_id %}WorkSchedulerPanel1Modal2{% endblock %}

{% block form_title %}Edit your task{% endblock form_title %}

{% block modal-body_footer %}
  <form method="get" id="WorkSchedulerPanel1Modal2FormId" class="form-horizontal form-label-left">
    {% csrf_token %}
      <div class="modal-body">
        <div class="form-group">
          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="CommandType">Command Type<span class="required">*</span>
          </label>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <select id="CommandType" name="CommandType" class="select2_single form-control col-md-7 col-xs-12" style="width:80% " required>
              <option value="Remove">Remove</option>
            </select>
          </div>
        </div>
{#        <div class="form-group">#}
{#          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Deduction"> Deduction#}
{#          </label>#}
{#          <div class="col-md-6 col-sm-6 col-xs-12">#}
{#            <input type="text" id="Deduction" name="Deduction" class="form-control col-md-7 col-xs-12" style="width:80% ">#}
{#          </div>#}
{#        </div>#}
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" id="WorkSchedulerPanel1Modal2Yes">
            <span class="glyphicon glyphicon-ok"></span>
        </button>
        <button id="WorkSchedulerPanel1Modal2No" type="button" class="btn btn-danger" data-dismiss="modal">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
      </div>
  </form>
{% endblock modal-body_footer %}