{% extends 'bbu/dashboard_base.html' %}
{% load static %}

{% block content_dashboard %}

<div class="row">
  {% include 'WorkScheduler/WorkScheduler_Panel1.html' %}
  {% include 'WorkScheduler/WorkScheduler_Panel2.html' %}
</div>


{% endblock content_dashboard %}

{% block foot_js_dashboard %}
    <script type="text/javascript">
      require(["{% static 'requirejs/config.js' %}"], function (config) {
        require(["{% static 'WorkScheduler/js/WorkScheduler.js' %}"],function(){
        })
      });
    </script>
{% endblock foot_js_dashboard %}