{% load static %}

<div class="row">
    <div class="col-md-3 col-sm-3 col-xs-12">
        <h4>Color Code Note:</h4>
        <span><i class="fa fa-square" style="color: #eec700"></i>:SAFETY</span><br/>
        <span><i class="fa fa-square" style="color: red"></i>:URGENT</span><br/>
        <span><i class="fa fa-square" style="color: green"></i>:HIGH</span><br/>
        <span><i class="fa fa-square" style="color: blue"></i>:MEDIUM</span><br/>
        <span><i class="fa fa-square" style="color: tan"></i>:LOW</span><br/>
        <span><i class="fa fa-square" style="color: grey"></i>:UNDEFINED/TIME OFF</span><br/>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <h4>Select Note:</h4>
        <span>You can select a range in the below table to <br/>
            1.extend or cut work available hours or<br/>
            2.add a time-off/lunch or breaks for the worker.
        </span>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12">
    </div>
</div>

<br>

<div class="row" id="WorkScheduler_Panel1_Timeline1"></div>
<div id="WorkSchedulerPanel1Timeline1SnapShot" ></div>