{% load static %}

<link rel="stylesheet" href="{% static 'bootstrap-table/dist/bootstrap-table.min.css' %}">
<link rel="stylesheet" href="{% static 'x-editable/bootstrap3-editable/css/bootstrap-editable.css' %}">

<div class="row">
    <h4>Color Code Note:</h4>
    <span><i class="fa fa-square" style="color: green"></i>:Scheduled</span><br/>
    <span><i class="fa fa-square" style="color: #eec700"></i>:Partly Scheduled</span><br/>
    <span><i class="fa fa-square" style="color: red"></i>:Over Scheduled</span><br/>
</div>
<br/>

<div class="table-container" id="WorkSchedulerPanel2Table1ContainerId">
    <table id="WorkSchedulerPanel2Table1TableId"></table>
</div>

<style>
    .detail{
        display: table-cell;
    }

    .price{

    }
</style>