{% extends 'bbu/panel.html' %}
{% block panel_size  %}class="col-md-8 col-sm-12 col-xs-12"{% endblock %}
{% block panel_title %}Scheduler (drag work backlog onto the scheduler){% endblock panel_title %}

{% block panel_content %}
    <div>
      {% include 'WorkScheduler/WorkScheduler_Panel1_TimeLine1.html' %}
    </div>
    <div class="clearfix"></div>
    <br/>
    {% include 'WorkScheduler/WorkScheduler_Panel1_Modal1.html' %}
    <div id="WorkSchedulerPanel1Modal1Create" data-toggle="modal" data-target="#WorkSchedulerPanel1Modal1"></div>
    {% include 'WorkScheduler/WorkScheduler_Panel1_Modal2.html' %}
    <div id="WorkSchedulerPanel1Modal2Create" data-toggle="modal" data-target="#WorkSchedulerPanel1Modal2"></div>
    {% include 'WorkScheduler/WorkScheduler_Panel1_Modal3.html' %}
    <div id="WorkSchedulerPanel1Modal3Create" data-toggle="modal" data-target="#WorkSchedulerPanel1Modal3"></div>
    {% include 'WorkScheduler/WorkScheduler_Panel1_Modal4.html' %}
    <div id="WorkSchedulerPanel1Modal4Create" data-toggle="modal" data-target="#WorkSchedulerPanel1Modal4"></div>
{% endblock panel_content %}