{% extends 'bbu/modal.html' %}

{% block modal_id %}WorkSchedulerPanel1Modal2{% endblock %}

{% block form_title %}Edit your task{% endblock form_title %}

{% block modal-body %}
    <h2><b>Edit task</b></h2>
{% endblock modal-body %}

{% block modal-footer %}
    <button id="WorkSchedulerPanel1Modal2Yes" type="button" class="btn btn-info">
        <span class="glyphicon glyphicon-ok"></span>
    </button>
    <button id="WorkSchedulerPanel1Modal2No" type="button" class="btn btn-danger" data-dismiss="modal">
        <span class="glyphicon glyphicon-remove"></span>
    </button>
{% endblock modal-footer %}