  <form method="post" id="WorkConfigDataUpload-form" class="form-horizontal form-label-left">
  {% csrf_token %}
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="FileType">File Type <span class="required">*</span>
      </label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <select id="FileType" name="FileType" class="select2_single form-control col-md-7 col-xs-12" style="width:80% " required>
          <option value="WorkerAvail">worker available timesheet</option>
          <option value="Tasks">tasks</option>
          <option value="Equipment">equipment</option>
          <option value="PMs">PMs Master</option>
          <option value="SomaxAccount">somax_account</option>
          <option value="Worker">workers</option>
          <option value="Company">companies</option>
          <option value="AOR">AOR</option>
        </select>
      </div>
    </div>
    <div class="form-group" hidden>
      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Processor">Processor<span class="required">*</span>
      </label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <select id="Processor" name="Processor" class="select2_single form-control col-md-7 col-xs-12" style="width:80% ">
          <option value="TasksLoadProcessor">TasksLoadProcessor</option>
          <option value="WorkerAvailLoadProcessor">WorkerAvailLoadProcessor</option>
          <option value="AORLoadProcessor">AORLoadProcessor</option>
          <option value="CompanyLoadProcessor">CompanyLoadProcessor</option>
          <option value="EquipmentLoadProcessor">EquipmentLoadProcessor</option>
          <option value="PMsLoadProcessor">PMsLoadProcessor</option>
          <option value="SomaxAccountLoadProcessor">SomaxAccountLoadProcessor</option>
          <option value="WorkerLoadProcessor">WorkerLoadProcessor</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="FileUpload">Excel Upload<span class="required">*</span>
      </label>
      <div class="col-md-8 col-sm-8 col-xs-12">
        <input id="FileUpload" name="FileUpload" type="file" multiple class="file-loading">
        <div id="errorBlock" class="help-block"></div>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <button type="submit" class="btn btn-primary " id="WorkConfigDataUploadSubmit">Submit</button>
      </div>
    </div>
  </form>
  <script>
      var csrf_token = "{{ csrf_token }}"
  </script>