{% load static %}

{% block table_head_css %}
    <link rel="stylesheet" href="{% static 'bootstrap-table/dist/bootstrap-table.min.css' %}">
    <link rel="stylesheet" href="//rawgit.com/vitalets/x-editable/master/dist/bootstrap3-editable/css/bootstrap-editable.css">
    <link rel="stylesheet" href="{% static 'switch-check/switch.css' %}">
{% endblock table_head_css %}

{% block table_container %}
<div class="table-container" id = "{{table.container_id}}" hidden>
    {% block toolbar %}
    {% endblock toolbar %}

    {% block table %}
        <table {{ table.attrs.table| safe }}>
            {% block table.thead %}
                <thead>
                    <tr>
                        {% block table_thead_before %}{% endblock table_thead_before %}
                        {% for row in table.auto.th %}
                            {% for column, th_attrs in row%}
                                {% if column == 'name' %}
                                <th data-valign="middle"
                                    data-align="center"
                                    {{ th_attrs|safe }}>{{ column|safe }}</th>
                                {% else %}
                                <th data-valign="middle"
                                    data-align="center"
                                    data-editable="true"
                                    data-editable-type="text"
                                    data-editable-title="Enter hours"
                                    {{ th_attrs|safe }}>{{ column|safe }}</th>
                                {% endif %}
                            {% endfor %}
                        {% empty %}
                            <th>{{ table.empty_text }}</th>
                        {% endfor %}
                        {% block table_thead_after %}
                            <th data-field="state">
                            </th>
                        {% endblock table_thead_after %}
                    </tr>
                </thead>
            {% endblock table.thead %}
            {% block table.tbody %}
                <tbody>
                    {% for row in table.auto.td %}
                    <tr>
                        {% block table_tbody_before %}{% endblock table_tbody_before %}
                        {% for data,td_attrs in row %}
                                <td {{ td_attrs|safe }}{{ table.attrs.td|safe}}>{{ data }}</td>
                        {% empty %}
                            <td>{{ table.empty_text }}</td>
                        {% endfor %}
                        {% block table_tbody_after %}
                            <td class="bs-checkbox">
                                <label class="switch">
                                  <input type="checkbox">
                                  <div class="slider round"></div>
                                </label>
                            </td>
                        {% endblock table_tbody_after %}
                    </tr>
                    {% endfor %}
                </tbody>
            {% endblock table.tbody %}
            {% block table.tfoot %}
                <tfoot>
                </tfoot>
            {% endblock table.tfoot %}
        </table>
    {% endblock %}
</div>
{% endblock table_container %}

<style>
    .detail{
        display: table-cell;
    }

    .price{

    }
</style>

<script type="text/javascript">
  var WorkTasks_Panel1_Table2b_container_id = "{{ table.container_id }}",
      WorkTasks_Panel1_Table2b_id = "{{ table.table_id }}",
      WorkTasks_Panel1_Table2b_url_edit = "{{ table.url.edit }}";
  require(["{% static 'requirejs/config.js' %}"], function (config) {
    require(["{% static 'WorkTasks/js/WorkTasks_Panel1_Table2b.js' %}"],function(run){
        run()
    })
  });
</script>
